TARGET_SERVER=server.example.org
TARGET_USER=web
TARGET_DIR=makovec

REPOSITORY=https://github.com/JanOppolzer/makovec-laravel

APP_NAME=Makovec
APP_ENV=production
APP_DEBUG=false
APP_URL=https://server.example.org

DB_HOST=127.0.0.1
DB_DATABASE=database
DB_USERNAME=user
DB_PASSWORD=password

MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_REPLYTO_ADDRESS="info@example.org"
MAIL_REPLYTO_NAME="HelpDesk"

LOG_SLACK_WEBHOOK_URL=https://hooks.example.org/services/token
LOG_SLACK_CHANNEL=#makovec
